# User Service
USER_DB_HOST=postgres_user
USER_DB_PORT=5432
USER_DB_USER=user_admin
USER_DB_PASS=user_pass
USER_DB_NAME=user_db
USER_GRPC_PORT=50051

# Product Service
PRODUCT_DB_HOST=postgres_product
PRODUCT_DB_PORT=5432
PRODUCT_DB_USER=product_admin
PRODUCT_DB_PASS=product_pass
PRODUCT_DB_NAME=product_db
PRODUCT_GRPC_PORT=50052
REDIS_HOST=redis
REDIS_PORT=6379

# Order Service
ORDER_DB_HOST=postgres_order
ORDER_DB_PORT=5432
ORDER_DB_USER=order_admin
ORDER_DB_PASS=order_pass
ORDER_DB_NAME=order_db
ORDER_GRPC_PORT=50053

# Notification Service
NOTIFICATION_GRPC_PORT=50054
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password

# API Gateway
GATEWAY_HTTP_PORT=8080

# Environment
ENVIRONMENT=development
LOG_LEVEL=info
